section#main-content {
    margin-top: 100px;
    padding-top: 0px;
    min-height: 300px;

}

footer {
    margin-bottom: 20px;
    text-align: right;
}

.centered {
    text-align: center;
}

input[type="text"] {
    height: 30px;
    font-size: 18px;
}

.large{
    width: 400px;
}

.tiny{
    width: 75px;
}

.big {
    height: 45px;
    min-width: 100px;
    font-size: 22px;
    margin-bottom: 10px;
}

form h1 {
    font-size: xx-large;
    padding-bottom: 10px;
}

.container {
    width: 950px;
}

input[type="date"] {
   height: 30px;
   font-size: 18px;
   display: -webkit-inline-flex;
}

input[type="time"] {
   height: 30px;
   font-size: 18px;
   display: -webkit-inline-flex;
}

input[type="email"] {
    height: 30px;
    font-size: 18px;
}

.mail {
    color: rgb(30, 30, 30);
    text-decoration: none;
        -moz-text-blink: none;
        -moz-text-decoration-color: -moz-use-text-color;
        -moz-text-decoration-line: none;
        -moz-text-decoration-style: solid;
}

. alert-success {
    background-color: rgb(100, 180, 150);
}
