<div class="well">
   <legend>Su reserva se ha realizado con éxito.</legend>
	<a href="/appointments/patient_list" class = "btn btn-primary" id="GoToPatientList">Ver mis turnos reservados</a> 
</div>
