<div class="well">
		<div class="well">
    <h1>Su reserva se ha realizado con éxito</h1>
		</div>
	<div class="well">
		<div>
    Puede ver sus turnos
		</div>
	<a href="/appointments/patient_list"><button class = "btn btn-primary" id="GoToPatientList">Ver mis turnos reservados</a> 
	</div>
	
</div>
